.nav-sidebar{ class: ("sidebar-icons-only" if collapsed_sidebar?) }
  .nav-sidebar-inner-scroll
    .context-header
      = link_to admin_root_path, title: 'Admin Overview' do
        .avatar-container.s40.settings-avatar
          = icon('wrench')
        .sidebar-context-title Admin Area
    %ul.sidebar-top-level-items
      = nav_link(controller: %w(dashboard admin projects users groups jobs runners cohorts), html_options: {class: 'home'}) do
        = sidebar_link admin_root_path, title: _('Overview'), css: 'shortcuts-tree' do
          .nav-icon-container
            = custom_icon('overview')
          %span.nav-item-name
            Overview

        %ul.sidebar-sub-level-items
          = nav_link(controller: :dashboard, html_options: {class: 'home'}) do
            = link_to admin_root_path, title: 'Overview' do
              %span
                Dashboard
          = nav_link(controller: [:admin, :projects]) do
            = link_to admin_projects_path, title: 'Projects' do
              %span
                Projects
          = nav_link(controller: :users) do
            = link_to admin_users_path, title: 'Users' do
              %span
                Users
          = nav_link(controller: :groups) do
            = link_to admin_groups_path, title: 'Groups' do
              %span
                Groups
          = nav_link path: 'jobs#index' do
            = link_to admin_jobs_path, title: 'Jobs' do
              %span
                Jobs
          = nav_link path: ['runners#index', 'runners#show'] do
            = link_to admin_runners_path, title: 'Runners' do
              %span
                Runners
          = nav_link path: 'cohorts#index' do
            = link_to admin_cohorts_path, title: 'Cohorts' do
              %span
                Cohorts
          = nav_link(controller: :conversational_development_index) do
            = link_to admin_conversational_development_index_path, title: 'ConvDev Index' do
              %span
                ConvDev Index

      = nav_link(controller: %w(conversational_development_index system_info background_jobs logs health_check requests_profiles)) do
        = sidebar_link admin_conversational_development_index_path, title: _('Monitoring') do
          .nav-icon-container
            = custom_icon('monitoring')
          %span.nav-item-name
            Monitoring

        %ul.sidebar-sub-level-items
          = nav_link(controller: :system_info) do
            = link_to admin_system_info_path, title: 'System Info' do
              %span
                System Info
          = nav_link(controller: :background_jobs) do
            = link_to admin_background_jobs_path, title: 'Background Jobs' do
              %span
                Background Jobs
          = nav_link(controller: :logs) do
            = link_to admin_logs_path, title: 'Logs' do
              %span
                Logs
          = nav_link(controller: :health_check) do
            = link_to admin_health_check_path, title: 'Health Check' do
              %span
                Health Check
          = nav_link(controller: :requests_profiles) do
            = link_to admin_requests_profiles_path, title: 'Requests Profiles' do
              %span
                Requests Profiles

      = nav_link(controller: :broadcast_messages) do
        = sidebar_link admin_broadcast_messages_path, title: _('Messages') do
          .nav-icon-container
            = custom_icon('messages')
          %span.nav-item-name
            Messages

      = nav_link(controller: [:hooks, :hook_logs]) do
        = sidebar_link admin_hooks_path, title: _('Hooks') do
          .nav-icon-container
            = custom_icon('system_hooks')
          %span.nav-item-name
            System Hooks

      = nav_link(controller: :applications) do
        = sidebar_link admin_applications_path, title: _('Applications') do
          .nav-icon-container
            = custom_icon('applications')
          %span.nav-item-name
            Applications

      = nav_link(controller: :abuse_reports) do
        = sidebar_link admin_abuse_reports_path, title: _("Abuse Reports") do
          .nav-icon-container
            = custom_icon('abuse_reports')
          %span.nav-item-name
            Abuse Reports
          %span.badge.count= number_with_delimiter(AbuseReport.count(:all))

      - if akismet_enabled?
        = nav_link(controller: :spam_logs) do
          = sidebar_link admin_spam_logs_path, title: _("Spam Logs") do
            .nav-icon-container
              = custom_icon('spam_logs')
            %span.nav-item-name
              Spam Logs

      = nav_link(controller: :deploy_keys) do
        = sidebar_link admin_deploy_keys_path, title: _('Deploy Keys') do
          .nav-icon-container
            = custom_icon('key')
          %span.nav-item-name
            Deploy Keys

      = nav_link(controller: :services) do
        = sidebar_link admin_application_settings_services_path, title: _('Service Templates') do
          .nav-icon-container
            = custom_icon('service_templates')
          %span.nav-item-name
            Service Templates

      = nav_link(controller: :labels) do
        = sidebar_link admin_labels_path, title: _('Labels') do
          .nav-icon-container
            = custom_icon('labels')
          %span.nav-item-name
            Labels

      = nav_link(controller: :appearances) do
        = sidebar_link admin_appearances_path, title: _('Appearances') do
          .nav-icon-container
            = custom_icon('appearance')
          %span.nav-item-name
            Appearance

      = nav_link(controller: :application_settings) do
        = sidebar_link admin_application_settings_path, title: _('Settings') do
          .nav-icon-container
            = custom_icon('settings')
          %span.nav-item-name
            Settings

    = render 'shared/sidebar_toggle_button'
